@using SorianaApplication.Models
@model List<SorianaApplication.Models.SucursalCLS>
@{
    ViewBag.Title = "Index";
}   
<div class="container-fluid m-auto">
    <h2 class="text-center pb-4">TABLA DE CLIENTES</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-8">

            <table class="table table-responsive table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Estatus</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellido</th>
                        <th class="text-center">Correo Electrónico</th>
                        <th class="text-center">Género</th>
                        <th class="text-center">Acción</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                        <td class="text-center">@item.idSucursal</td>
                        <td class="text-center">@item.nombre</td>
                        <td class="text-center">@item.direccion</td>
                        <td class="text-center">@item.telefono</td>
                        <td class="text-center">@item.email</td>
                        <td class="text-center">@item.fechaApertura</td>
                    <td class="text-center">
                        @Html.ActionLink("Editar", "EditSucursal","Sucursal", new { id = @item.idSucursal }, new { @class = "btn btn-warning mx-2" }) |
                        @Html.ActionLink("Eliminar", "BorrarSucusal", new { id = @item.idSucursal }, new { @class = "btn btn-danger mx-2", @onclick = "eliminar()|" })
                    </td>
                </tr>
            }
                </tbody>
            </table>

        </div>
    </div>
    <div class="row my-4 justify-content-center">
        <div class="col-auto">
            @Html.ActionLink("Agregar nueva Sucursal", "AddSucursal", new { @class = "btn btn-success" })

        </div>
    </div>
</div>

